<html lang="en">
<head>
    <title>Fashion Feet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1 class="c1">FASHION FEET INVENTORY MANAGEMENT SYSTEM</h1>
    <h3><a href="/create" class="c2">Add New Product</a></h3>
    <h3><a href="/updatestock" class="c2">Update Stock</a></h3>
    <h3><a href="/deleteproduct" class="c2">Delete Product</a></h3>

    <h2>WELCOME</h2>
    <p> Footwear refers to garments worn on the feet, which originally serves to purpose of protection against adversities of the environment, usually regarding ground textures and temperature. Footwear in the manner of shoes therefore primarily serves the purpose to ease the locomotion and prevent injuries. Secondly footwear can also be used for fashion and adornment as well as to indicate the status or rank of the person within a social structure. Socks and other hosiery are typically worn additionally between the feet and other footwear for further comfort and relief. Cultures have different customs regarding footwear. These include not using any in some situations, usually bearing a symbolic meaning. This can however also be imposed on specific individuals to place them at a practical disadvantage against shod people, if they are excluded from having footwear available or are prohibited from using any. This usually takes place in situations of captivity, such as imprisonment or slavery, where the groups are among other things distinctly divided by whether or whether not footwear is being worn. In these cases the use of footwear categorically indicates the exercise of power as against being devoid of footwear, evidently indicating inferiority.
    </p>
    <p>
        In some cultures, people remove their shoes before entering a home. Bare feet are also seen as a sign of humility and respect, and adherents of many religions worship or mourn while barefoot. Some religious communities explicitly require people to remove shoes before they enter holy buildings, such as temples.

In several cultures people remove their shoes as a sign of respect towards someone of higher standing. In a similar context deliberately forcing other people to go barefoot while being shod oneself has been used to clearly showcase and convey one's superiority within a setting of power disparity.
    </p>

    <center>
    <table>
    <tr>
        <th>Product ID-num</th>
        <th>Category</th>
        <th>Type</th>
        <th>Size</th>
        <th>Stock</th>
        <th>Price</th>
    </tr>
    <% for(var i=0;i<data.length;i++) {%>
    <tr>
        <td><%= data[i].pid %></td>
        <td><%= data[i].category %></td>
        <td><%= data[i].type %></td>
        <td><%= data[i].size %></td>
        <td><%= data[i].stock %></td>
        <td><%= data[i].sp %></td>
    </tr>
    <% } %>
    </table>
    </center>

    <footer>
        &copy Copyright 2021 Fashionfeet.
    </footer>
</body>
</html>